PORT=3000

# 🔑 CONFIGURACIÓN PARA EL ENTORNO LOCAL DE DESARROLLO
# (Cada desarrollador usará estos campos para su base de datos local)
DB_USER="postgres"
DB_PASSWORD="tu_clave_local_aqui"
DB_NAME="db_ven"
DB_PORT=5432

# 🔐 NOTA DE INFRAESTRUCTURA:
# Las variables de conexión SSH para el VPS de producción remoto 
# están restringidas y solo se manejan en el servidor principal.